# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=hospital
POSTGRES_PASSWORD=
POSTGRES_DB=hospital_db

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
S3_BUCKET_NAME=medical-imaging-lakehouse

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# MLflow
MLFLOW_TRACKING_URI=
